<div class="panel panel-default" ng-controller="cpuController">
    <div class="panel-heading">Utilizzo CPU</div>
    <div class="panel-body">
        <div class="chart-wrapper">
            <canvas id="cpu-chart" data-ng-init="init()"></canvas>
        </div>
        <table class="table-serverstatus-chart table">
            <tbody>
            <tr>
                <th scope="row">Modello CPU</th>
                <td class="text-right">{{ modelCPU }}</td>
            </tr>
            <tr>
                <th scope="row">Numero cores</th>
                <td class="text-right">{{ numCores }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>