<div class="panel panel-default" ng-controller="cpuController">
    <div class="panel-heading">Utilizzo CPU</div>
    <div class="panel-body">
        <div class="chart-wrapper">
            <canvas id="cpu-chart" data-ng-init="init(3000)"></canvas>
        </div>
        <table class="table-serverstatus-chart table">
            <tbody>
            <tr>
                <th scope="row">CPU</th>
                <td class="text-right">{{ model }}</td>
            </tr>
            <tr>
                <th scope="row">Clock</th>
                <td class="text-right">{{ clock }}</td>
            </tr>
            <tr>
                <th scope="row">Cores</th>
                <td class="text-right">{{ cores }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>